
/* CSS Styles for the website */
/* Add your styles here */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

header {
  background-color: #2a85e8;
  color: white;
  padding: 15px;
  text-align: center;
}

nav {
  background-color: #f4f4f4;
  padding: 15px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.logo img {
height: 100px;
margin-right: 10px;
position: absolute; 
top: 50px; 
left: 0;

}

nav ul li {
margin:  0  10px;
}
nav ul li a {
text-decoration:underline;
color: #2a85e8;
 font-weight: bold;
}

section {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
height: 110vh;
}

.left-image img {
max-width: 60vb;
height: 50vb;
}
.container {
background-color: #2a85e8;
padding: 30px;
padding-top: 5px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
margin-top: 150px;
text-align: center;
}
h1 {
text-align: center;
font-style: inherit;
margin-top: 50px; ;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
label {
display:block;
margin-bottom: 10px;
}
input[type="text"],
input[type="number"],
select {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-bottom: 10px;
}
input[type="submit"] {
background-color: rgb(2, 19, 2);
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
border-radius: 4px;
font-weight: bold;
}
input[type="submit"]:hover {
background-color: hwb(111 0% 61%);

}
.image-container {
text-align: center;
margin-top: 50px;
margin-bottom: 50px;
}
.row {
display:flex;
margin-bottom: 20px;
}

.clm {
flex: 1;
text-align: center;
padding: 10px;
}

.clm img {
height: 100px;
}

.clm p {
margin-top: 5px;
}
.hd {
 margin-bottom: 50px;   
}

